.panel-title {
    font-size: 36px;
}
.contact-image {
    max-height: 95px;
}
h4.list-group-item-heading {
    font-size: 24px;
}

/* Based on code shared by Julie Spackman in the W08 Developer Forum */
.contact-list-vertical-scrollbar {
    height: 80vh;
    overflow-y: auto;
}