/* Based on code shared by Aaron Picker in the W05 Developer Forum */
@media screen and (min-width: 992px) {
    .contact-detail {
        position: fixed;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: auto;
    }
}
